@media (max-width: 820px) {
    .local-nav {
        padding: 0 3vw;
    }

    .sec-0-title {
        font-size: 4rem;
    }

    .main-message {
        font-size: 2.5rem;
    }

    .description {
        padding: 0 3vw;
        font-size: 1.2rem;
    }

    .description strong {
        font-size: 3rem;
    }

    .main-message .sticky-title {
        font-size: 3.5rem;
    }

    .main-message small {
        font-size: 2rem;
    }

    #scroll-sec-2 .message2 {
        top: 10%;
        left: 40%;
    }

    #scroll-sec-2 .message3 {
        left: 45%;
    }

    .desc-message {
        width: 50%;
        font-size: 1rem;
    }

    .mid-message {
        font-size: 2rem;
    }

    .canvas-caption {
        padding: 0 3vw;
        font-size: 1.2rem;
    }
}