.global-nav {
    height: 44px;
}

.local-nav {
    height: 52px;
    border-bottom: 1px solid #ddd;
}

.global-nav-link,
.local-nav-link {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-cont {
    display: flex;
    align-items: center;
    gap: 24px;
}

.local-nav-link .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.local-nav-link a {
    font-size: .8rem;
}

.scroll-sec {
    padding-top: 50vh;
}

.sec-0-title {
    font-size: 9vw;
    text-align: center;
    font-weight: 900;
}

.main-message {
    height: 3em;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
}

.main-message p {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
}

.description {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2rem;
    color: #888;
    text-align: justify;
}

.description strong {
    float: left;
    margin-right: .2em;
    font-size: 6rem;
    color: rgb(29, 29, 31);
    font-weight: 900;
}

.main-message .sticky-title {
    font-weight: 900;
    font-size: 6vw;
}

.main-message small {
    margin-bottom: .5em;
    display: block;
    font-size: 2vw;
    font-weight: 700;
}

.desc-message {
    width: 20%;
    font-weight: 700;
    text-align: justify;
}

.pin {
    width: 1px;
    height: 100px;
    background: rgb(29, 29, 31);
}

.mid-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 4vw;
    color: #888;
    font-weight: 700;
}

.mid-message strong {
    color: rgb(29, 29, 31);
    font-weight: 900;
}

.canvas-caption {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    font-size: 2rem;
    color: #888;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background: rgb(29, 29, 31);
    color: #fff;
}