.global-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 10;
}

.local-nav {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 52px;
    border-bottom: 1px solid #ddd;
    z-index: 11;
}

.global-nav-link,
.local-nav-link {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-cont {
    display: flex;
    align-items: center;
    gap: 24px;
}

.local-nav-link .product-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.local-nav-link a {
    font-size: .8rem;
}

.scroll-sec {
    padding-top: 50vh;
}

.sec-0-title {
    position: relative;
    top: -2%;
    font-size: 9vw;
    text-align: center;
    font-weight: 900;
    z-index: 5;
    color: #fff;
    /* color: transparent;
    background: linear-gradient(180deg, #ccdff5, #799fca, #4879b1, #022e61);
    -webkit-background-clip: text; */
}

.main-message {
    height: 3em;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4vw;
    opacity: 0;
}

.main-message.message1 {
    color: #fff;
    text-shadow: 0 0 10px rgb(29, 29, 31);
}

.main-message p {
    text-align: center;
    font-weight: 800;
    line-height: 1.2;
}

.description {
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2rem;
    color: #888;
    text-align: justify;
}

.description strong {
    float: left;
    margin-right: .2em;
    font-size: 6rem;
    color: rgb(29, 29, 31);
    font-weight: 900;
}

.main-message .sticky-title {
    font-weight: 900;
    font-size: 6vw;
}

.main-message small {
    margin-bottom: .5em;
    display: block;
    font-size: 2vw;
    font-weight: 700;
}

.sticky-elem {
    display: none;
    position: fixed;
    width: 100%;
    /* top: 0; */
    left: 0;
}

.sticky-elem-canvas {
    top: 0;
    height: 100%;
}

.sticky-elem-canvas canvas {
    /* max-width: 2048px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

#show-scene-0 #scroll-sec-0 .sticky-elem,
#show-scene-1 #scroll-sec-1 .sticky-elem,
#show-scene-2 #scroll-sec-2 .sticky-elem,
#show-scene-3 #scroll-sec-3 .sticky-elem {
    display: block;
}

#scroll-sec-0 .sticky-elem {
    color: #fff;
}


#scroll-sec-2 .message2 {
    top: 20%;
    left: 53%;
}

#show-scene-2 #scroll-sec-2 .sticky-elem.message3 {
    top: 15%;
    /* left: 55%; */
    left: inherit;
    right: 27%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

.desc-message {
    width: 20%;
    font-weight: 700;
    text-align: justify;
}

.pin {
    width: 1px;
    height: 100px;
    background: rgb(29, 29, 31);
}

.message3 .pin {
    width: 100px;
    height: 1px;
    background: rgb(29, 29, 31);
    transform-origin: left center;
}

.mid-message {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 4vw;
    color: #888;
    font-weight: 700;
}

.mid-message strong {
    color: rgb(29, 29, 31);
    font-weight: 900;
}

.canvas-caption {
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    font-size: 2rem;
    color: #888;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background: rgb(29, 29, 31);
    color: #fff;
}